<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>EAT DA BORBGER</title>
</head>
<body>
     <h1>SIE SIND DAS ESSEN, UND WIE SIND DER JÄGER</h1>
     {{{body}}}
</body>
</html>